.container {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 12px;
    margin: 12px;
}

.preview {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
}

textarea {
    padding: 16px;
    border-radius: 8px;
    resize: none;    
}